# Examples and Exercises from Think Stats, 2nd Edition

http://thinkstats2.com

Copyright 2016 Allen B. Downey

MIT License: https://opensource.org/licenses/MIT

In [1]:
from __future__ import print_function, division

import nsfg

## Examples from Chapter 1

Read NSFG data into a Pandas DataFrame.

In [2]:
preg = nsfg.ReadFemPreg()
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

Print the column names.

In [3]:
preg.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

Select a single column name.

In [4]:
preg.columns[1]

'pregordr'

Select a column and check what type it is.

In [5]:
pregordr = preg['pregordr']
type(pregordr)

pandas.core.series.Series

Print a column.

In [6]:
pregordr

0        1
1        2
2        1
3        2
4        3
5        1
6        2
7        3
8        1
9        2
10       1
11       1
12       2
13       3
14       1
15       2
16       3
17       1
18       2
19       1
20       2
21       1
22       2
23       1
24       2
25       3
26       1
27       1
28       2
29       3
        ..
13563    2
13564    3
13565    1
13566    1
13567    1
13568    2
13569    1
13570    2
13571    3
13572    4
13573    1
13574    2
13575    1
13576    1
13577    2
13578    1
13579    2
13580    1
13581    2
13582    3
13583    1
13584    2
13585    1
13586    2
13587    3
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

Select a single element from a column.

In [7]:
pregordr[0]

1

Select a slice from a column.

In [8]:
pregordr[2:5]

2    1
3    2
4    3
Name: pregordr, dtype: int64

Select a column using dot notation.

In [9]:
pregordr = preg.pregordr

Count the number of times each value occurs.

In [10]:
preg.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

Check the values of another variable.

In [11]:
preg.birthwgt_lb.value_counts().sort_index()

0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

Make a dictionary that maps from each respondent's `caseid` to a list of indices into the pregnancy `DataFrame`.  Use it to select the pregnancy outcomes for a single respondent.

In [12]:
caseid = 10229
preg_map = nsfg.MakePregMap(preg)
indices = preg_map[caseid]
preg.outcome[indices].values

array([4, 4, 4, 4, 4, 4, 1], dtype=int64)

## Exercises

Select the `birthord` column, print the value counts, and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611933)

In [13]:
# Solution goes here
birthord= preg['birthord']

In [14]:
birthord

0        1.0
1        2.0
2        1.0
3        2.0
4        3.0
5        1.0
6        2.0
7        3.0
8        1.0
9        2.0
10       1.0
11       1.0
12       2.0
13       NaN
14       NaN
15       1.0
16       2.0
17       1.0
18       NaN
19       1.0
20       2.0
21       1.0
22       NaN
23       1.0
24       2.0
25       3.0
26       1.0
27       1.0
28       2.0
29       3.0
        ...
13563    2.0
13564    3.0
13565    1.0
13566    1.0
13567    NaN
13568    NaN
13569    1.0
13570    2.0
13571    3.0
13572    4.0
13573    1.0
13574    2.0
13575    NaN
13576    1.0
13577    NaN
13578    1.0
13579    2.0
13580    NaN
13581    1.0
13582    NaN
13583    NaN
13584    1.0
13585    NaN
13586    NaN
13587    NaN
13588    1.0
13589    NaN
13590    NaN
13591    2.0
13592    3.0
Name: birthord, Length: 13593, dtype: float64

In [15]:
birthord.value_counts(), birthord.value_counts().sum()

(1.0     4413
 2.0     2874
 3.0     1234
 4.0      421
 5.0      126
 6.0       50
 7.0       20
 8.0        7
 9.0        2
 10.0       1
 Name: birthord, dtype: int64, 9148)

We can also use `isnull` to count the number of nans.

In [16]:
preg.birthord.isnull().sum()

4445

In [17]:
preg.birthord.isnull().sum() + birthord.value_counts().sum()

13593

Select the `prglngth` column, print the value counts, and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611931)

In [18]:
# Solution goes here
prgCounts = preg['prglngth'].value_counts()
prgCounts

39    4744
40    1120
38     609
9      594
41     591
6      543
37     457
13     446
4      412
8      409
35     357
36     329
42     328
17     253
11     202
30     198
5      181
7      175
12     170
3      151
43     148
22     147
10     137
32     122
26     117
2       78
34      60
33      50
44      46
16      44
15      39
28      38
21      37
19      34
24      31
31      29
14      29
29      23
20      18
18      17
0       15
25      15
23      12
45      10
1        9
27       8
48       7
50       2
46       1
47       1
Name: prglngth, dtype: int64

In [51]:
men13 = (preg['prglngth']<=13).value_counts()[True]
men18 = (preg['prglngth']<=26).value_counts()[True]
alles = prgCounts.sum()
men13, men18- men13, alles- men18

(3522, 793, 9278)

To compute the mean of a column, you can invoke the `mean` method on a Series.  For example, here is the mean birthweight in pounds:

In [20]:
preg.totalwgt_lb.mean()

7.265628457623368

Create a new column named <tt>totalwgt_kg</tt> that contains birth weight in kilograms.  Compute its mean.  Remember that when you create a new column, you have to use dictionary syntax, not dot notation.

In [21]:
# Solution goes here
preg['totalwgt_kg'] = preg.totalwgt_lb*0.456
preg['totalwgt_kg'], preg['totalwgt_kg'].mean()

(0        4.0185
 1        3.5910
 2        4.1610
 3        3.1920
 4        2.8215
 5        3.9045
 6        4.3605
 7        3.8190
 8        3.4485
 9        3.0210
 10       3.5625
 11       3.1920
 12       1.8240
 13          NaN
 14          NaN
 15       3.5055
 16       3.4200
 17       2.8785
 18          NaN
 19       3.9900
 20       3.7335
 21       2.5365
 22          NaN
 23       3.0780
 24       3.3630
 25       3.1065
 26       3.7050
 27       3.2490
 28       2.7645
 29       3.3915
           ...
 13563    3.5055
 13564    3.4770
 13565    3.7050
 13566    3.4200
 13567       NaN
 13568       NaN
 13569    2.6505
 13570    3.0495
 13571    2.7360
 13572    2.6505
 13573    2.9925
 13574    2.7930
 13575       NaN
 13576    2.9355
 13577       NaN
 13578    2.7360
 13579    3.1920
 13580       NaN
 13581    2.9070
 13582       NaN
 13583       NaN
 13584    2.9070
 13585       NaN
 13586       NaN
 13587       NaN
 13588    2.8215
 13589       NaN
 13590       NaN
 13591    3.4200
 13592    3.4200
 Name: totalwgt_kg, Length: 13593, dtype: float64, 3.313126576676256)

`nsfg.py` also provides `ReadFemResp`, which reads the female respondents file and returns a `DataFrame`:

In [22]:
resp = nsfg.ReadFemResp()
resp

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667
5,845,1,5,4,1,5.0,42,42,727,42,...,0,2335.279149,3725.796795,4705.681352,2,18,1234,1222,17:10:13,95.488000
6,10333,5,5,3,1,5.0,17,17,1029,17,...,0,2335.279149,2687.399758,3139.151658,2,18,1236,1224,14:14:38,61.204333
7,855,5,5,4,5,5.0,22,22,965,22,...,0,4670.558298,7122.614751,10019.382170,2,18,1235,1223,14:42:52,59.756333
8,8656,5,5,4,1,5.0,38,38,780,38,...,0,5198.652195,6027.568848,6520.021223,2,18,1237,1225,15:32:34,56.978833
9,3566,5,5,4,5,5.0,21,21,974,21,...,0,2764.142038,3240.986558,4559.095792,2,18,1231,1219,16:22:25,104.744667
10,5917,1,5,3,1,5.0,44,43,714,43,...,0,2418.624283,2762.143030,3488.586646,2,18,1233,1221,15:38:06,96.850167
11,9200,5,5,3,1,5.0,26,26,923,26,...,0,2418.624283,2754.293339,2987.031126,2,18,1237,1225,14:12:31,61.060667
12,6320,5,5,5,5,1.0,23,23,952,23,...,0,5497.225851,6448.332868,7241.477811,1,18,1236,1224,14:27:20,69.906500
13,11700,1,5,4,1,5.0,34,34,822,34,...,0,3362.448309,3677.062170,4666.559600,1,18,1236,1224,11:35:31,77.493333
14,7354,1,5,4,1,5.0,28,28,896,28,...,0,2417.628123,2790.899197,3026.730179,1,18,1235,1223,14:40:18,79.018500
15,3697,5,5,4,5,5.0,28,28,896,28,...,0,9670.512492,18559.585881,31215.367494,1,18,1236,1224,11:59:26,45.963500
16,4881,1,5,5,1,5.0,23,23,948,23,...,0,3292.089359,3935.302679,4419.344908,1,18,1234,1222,20:37:54,110.416833
17,5862,1,5,4,1,5.0,33,33,831,33,...,0,3056.771190,3456.489520,4386.630850,1,18,1234,1222,16:42:13,107.819667
18,8542,5,5,5,5,5.0,16,16,1036,16,...,0,5900.163872,6697.056170,7822.831313,1,18,1237,1225,13:04:36,72.481500
19,2054,1,5,4,5,1.0,24,24,939,24,...,0,2417.628123,2570.384230,2886.541491,1,18,1236,1224,13:58:43,87.417500
20,3719,5,5,2,5,5.0,22,22,972,22,...,1,4168.324350,4879.253694,5479.401898,1,18,1238,1226,12:50:26,53.782000
21,11740,1,5,5,1,5.0,32,32,843,32,...,0,2417.628123,2790.899197,3541.930171,1,18,1234,1222,14:23:08,92.950500
22,11343,1,5,5,1,5.0,41,41,741,41,...,0,2417.628123,4394.216361,5549.895265,1,18,1237,1225,20:29:06,70.791667
23,7075,1,5,4,1,5.0,37,37,782,37,...,0,4308.038516,5562.306199,6016.746616,2,18,1232,1220,16:30:34,80.659000
24,5422,1,5,2,1,5.0,38,38,773,38,...,0,3363.768618,3948.605534,4271.206606,1,18,1234,1222,17:07:52,45.171500
25,2178,5,5,3,1,5.0,29,29,877,29,...,0,3363.768618,5306.521605,5754.922681,1,18,1234,1222,18:28:12,77.489833
26,8358,5,5,4,5,5.0,21,21,977,21,...,0,2418.624283,2688.131135,3018.771264,2,18,1237,1225,16:10:17,28.934833
27,5083,1,5,4,1,5.0,37,37,789,37,...,0,2418.624283,3119.659072,3374.535218,2,18,1236,1224,15:14:10,58.307000
28,1545,5,5,4,1,5.0,39,39,762,39,...,0,8034.280664,8972.807739,9705.886131,2,18,1237,1225,14:09:31,53.124833
29,5656,5,5,3,5,5.0,26,26,921,26,...,0,4170.041867,6582.846660,7139.097203,2,18,1238,1226,11:20:54,61.501000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7613,4640,5,5,6,5,5.0,18,18,1016,18,...,0,2273.045919,5800.771072,10202.976239,1,76,1234,1222,12:01:09,84.903833
7614,3998,5,5,2,5,5.0,24,24,935,24,...,0,3544.869231,4031.967457,5671.768622,1,76,1228,1216,17:11:53,106.922500
7615,2432,5,5,5,5,5.0,15,15,1048,15,...,0,7576.875171,8452.387480,14866.904339,2,76,1234,1222,16:41:31,40.803333
7616,5438,1,5,3,5,5.0,30,30,862,30,...,0,2273.062551,2559.633775,4440.964600,2,76,1229,1217,12:50:02,86.785000
7617,9643,1,5,2,5,5.0,24,24,929,24,...,0,2597.785773,2969.368501,4177.010670,2,76,1229,1217,12:26:15,89.036000
7618,3030,1,5,1,5,5.0,34,34,811,34,...,0,2273.062551,2525.629369,4381.966956,2,76,1229,1217,14:23:39,80.175667
7619,11585,1,5,4,5,5.0,34,34,814,34,...,0,1720.605492,2260.899193,3922.660100,1,76,1228,1216,15:59:28,113.677500
7620,6677,1,5,4,1,5.0,26,26,909,26,...,0,3613.271533,4035.558807,4376.563526,1,76,1227,1215,16:35:57,110.918333
7621,10744,5,5,8,5,1.0,22,22,968,22,...,0,3082.751506,3278.300013,4611.584628,1,76,1234,1222,14:08:25,95.713167
7622,8403,5,5,4,5,5.0,19,19,995,19,...,0,2408.847688,2563.254954,4508.509139,1,76,1228,1216,17:36:32,62.217000
7623,7574,5,5,4,5,5.0,19,19,997,19,...,0,2272.098197,2482.173894,4365.895661,2,76,1228,1216,16:09:34,96.809833
7624,8000,1,5,5,5,5.0,37,37,780,37,...,0,4544.196393,4924.699453,8987.084031,2,76,1227,1215,16:40:18,140.088333
7625,6288,5,1,3,5,2.0,20,20,986,20,...,0,2272.098197,2585.825443,3637.480651,2,76,1227,1215,17:40:15,93.622333
7626,5856,5,5,6,5,3.0,23,23,958,23,...,0,12456.163382,31787.898176,44716.036364,1,76,1238,1226,16:04:09,69.623500
7627,8794,1,5,3,5,5.0,23,23,945,23,...,0,6818.699775,7950.887074,11184.512847,1,76,1228,1216,18:23:51,77.508000
7628,6365,5,5,3,5,2.0,17,17,1028,17,...,0,2272.899925,3456.977988,6080.478584,1,76,1235,1223,17:15:36,46.016667
7629,3537,1,5,3,5,2.0,36,36,797,36,...,0,3918.792974,5258.971089,9597.096340,1,76,1239,1227,15:19:09,85.378000
7630,1515,1,5,1,5,5.0,44,44,688,44,...,0,2272.899925,2680.745920,4467.463075,1,76,1228,1216,16:23:34,147.769667
7631,9174,1,5,3,5,3.0,32,32,834,32,...,0,2272.899925,2608.931475,4526.496109,1,76,1228,1216,17:30:08,171.005000
7632,4213,1,5,3,5,2.0,40,40,748,40,...,0,2272.948899,2659.474205,4432.013762,2,76,1229,1217,09:47:43,99.248667
7633,6804,5,5,3,5,2.0,35,35,805,35,...,0,3247.069856,3814.222882,6960.575338,2,76,1229,1217,14:20:39,103.929167
7634,1282,1,5,4,5,3.0,35,35,798,35,...,0,2068.394620,2222.154405,4055.209574,1,76,1228,1216,16:31:47,105.509000
7635,2954,1,5,4,5,3.0,30,30,862,30,...,0,2068.394620,2356.019463,4087.693768,1,76,1228,1216,19:40:51,85.290167
7636,4964,1,5,3,5,3.0,41,41,727,41,...,0,2068.394620,2222.154405,3703.220316,1,76,1227,1215,12:38:19,306.238000
7637,143,1,5,1,5,2.0,35,35,808,35,...,0,2273.211779,2463.724427,4496.050707,2,76,1230,1218,17:45:36,83.798833
7638,11018,1,5,2,5,3.0,34,34,811,34,...,0,3247.445399,3784.333145,6565.818007,2,76,1228,1216,15:57:38,82.907333
7639,6075,5,5,3,5,3.0,17,17,1014,17,...,0,2273.211779,2497.234491,4392.385746,2,76,1228,1216,18:23:53,54.044833
7640,5649,1,5,2,5,5.0,29,29,873,29,...,0,3247.445399,3569.313710,6003.228729,2,76,1228,1216,18:42:41,68.168000
7641,501,5,5,3,5,2.0,16,16,1034,16,...,0,5304.160818,5954.644352,10473.623950,2,76,1228,1216,16:02:45,32.717333
7642,10252,1,5,2,5,2.0,28,28,889,28,...,0,3247.445399,3476.637428,5847.356491,2,76,1230,1218,12:45:19,74.061500

`DataFrame` provides a method `head` that displays the first five rows:

In [23]:
resp.head()

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667

Select the `age_r` column from `resp` and print the value counts.  How old are the youngest and oldest respondents?

In [36]:
# Solution goes here
# age_r = resp['age_r'], age_r.min(), age_r.max()
ageR = resp['age_r']
ageR, ageR.min(), ageR.max()

(0       27
 1       42
 2       43
 3       15
 4       20
 5       42
 6       17
 7       22
 8       38
 9       21
 10      43
 11      26
 12      23
 13      34
 14      28
 15      28
 16      23
 17      33
 18      16
 19      24
 20      22
 21      32
 22      41
 23      37
 24      38
 25      29
 26      21
 27      37
 28      39
 29      26
         ..
 7613    18
 7614    24
 7615    15
 7616    30
 7617    24
 7618    34
 7619    34
 7620    26
 7621    22
 7622    19
 7623    19
 7624    37
 7625    20
 7626    23
 7627    23
 7628    17
 7629    36
 7630    44
 7631    32
 7632    40
 7633    35
 7634    35
 7635    30
 7636    41
 7637    35
 7638    34
 7639    17
 7640    29
 7641    16
 7642    28
 Name: age_r, Length: 7643, dtype: int64, 15, 44)

We can use the `caseid` to match up rows from `resp` and `preg`.  For example, we can select the row from `resp` for `caseid` 2298 like this:

In [25]:
resp[resp.caseid==2298]

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667

And we can get the corresponding rows from `preg` like this:

In [26]:
preg[preg.caseid==2298]

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb,totalwgt_kg
2610,2298,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.1350
2611,2298,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,5.5000,2.5080
2612,2298,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,4.1875,1.9095
2613,2298,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.1350

How old is the respondent with `caseid` 1?

In [38]:
# Solution goes here
resp[resp.caseid==2298]['age_r']

0    27
Name: age_r, dtype: int64

What are the pregnancy lengths for the respondent with `caseid` 2298?

In [41]:
# Solution goes here
preg[preg.caseid==2298]['prglngth']

2610    40
2611    36
2612    30
2613    40
Name: prglngth, dtype: int64

What was the birthweight of the first baby born to the respondent with `caseid` 5012?

In [50]:
# Solution goes here
preg[preg.caseid==5012]['birthwgt_lb']

5515    6.0
Name: birthwgt_lb, dtype: float64